<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>新建文件夹</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>新建文件夹</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>530604682.93196398</real>
				<key>lastModification</key>
				<real>530604682.93196398</real>
				<key>version</key>
				<dict>
					<key>b5bf5c2cc9bba656e46b1e0f815903e5e4b791a8bdbe8c24b0bb24c61c3b4612</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>无标题 - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>530604703.56267703</real>
				<key>lastModification</key>
				<real>530604703.56267703</real>
				<key>version</key>
				<dict>
					<key>b5bf5c2cc9bba656e46b1e0f815903e5e4b791a8bdbe8c24b0bb24c61c3b4612</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>这是一个基于markdown格式，用github实现云存储，无线对接的探索尝试.md</key>
			<dict>
				<key>lastModification</key>
				<real>530604782.80639702</real>
				<key>version</key>
				<dict>
					<key>b5bf5c2cc9bba656e46b1e0f815903e5e4b791a8bdbe8c24b0bb24c61c3b4612</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>这是一个基于markdown格式，用github实现云存储，无线对接的探索尝试.md</string>
		</array>
		<array>
			<string>无标题 - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>b5bf5c2cc9bba656e46b1e0f815903e5e4b791a8bdbe8c24b0bb24c61c3b4612</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>b5bf5c2cc9bba656e46b1e0f815903e5e4b791a8bdbe8c24b0bb24c61c3b4612</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
